<footer>
    <div class="container">
        <div class="icons-link">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-snapchat"></i></a>
        </div>
        <ul>
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Acerca de</a>
            <a href="#">Terminos y Condiciones</a>
            <a href="#">Privacy Policy</a>
        </ul>
        <p>Miguel Torres Cerna @CODERHOUSE 2023</p>
    </div>
</footer>
