<section>
    <nav>
        <div class="logo">
            <h3>A<span>PP</span>E<span>STUDIANTES</span></h3>
        </div>
        <ul>
            <li><a routerLink="App/home">
                    <div class="liquid"></div>Inicio
                </a></li>
            <li><a routerLink="alumnos">
                    <div class="liquid"></div>Alumnos
                </a></li>
            <li><a routerLink="App/about">
                    <div class="liquid"></div>Acerca de
                </a></li>
            <li><a routerLink="sessions/login">
                    <div class="liquid"></div>Login
                </a></li>
        </ul>
    </nav>
</section>