<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-style: arial ; color: rgb(218, 242, 250); font-size:70px;">SOBRE EL PROYECTO</h1>
        <b>CoderHouse-Angular</b>
        <h2>Administración de Alumnos y Cursos</h2>
        <h3 style="font-style: oblique; font-size: 20px;">Creación de un proyecto frontend basado en Angular para gestionar los asistentes a una serie de cursos
            deberá contener el perfil de administrador, el cual podrá listar, realizar altas y bajas de los alumnos,
            cursos e inscripciones y modificar sus datos. No podrá realizar ninguna operación sobre los usuarios. También se podrá crear y modificar usuarios de
           perfil usuario podrá enlistar a los alumnos y los cursos, pero sí podrá agregar o eliminar inscripciones de
            alumnos a los cursos
        </h3>
    </div>
</div>