<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Alumnos</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="example-header">

                    <mat-form-field class="col-md-6">
                        <mat-label>Buscar Por Nombre de Alumno</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Nombre Alumno" #input
                            autocomplete="off">
                    </mat-form-field>

                    <div class="example-table-container">

                        <table mat-table matSort [dataSource]="alumnos$" class="mat-elevation-z8 demo-table">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let student"> {{student.id}} </td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let student"> {{student | alumno}} </td>
                            </ng-container>


                            <!-- dni Column -->
                            <ng-container matColumnDef="dni">
                                <th mat-header-cell *matHeaderCellDef> DNI </th>
                                <td mat-cell *matCellDef="let student"> {{student.dni}} </td>
                            </ng-container>

                            <!-- nameUsuario Column -->
                            <ng-container matColumnDef="nameUsuario">
                                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                <td mat-cell *matCellDef="let student"> {{student.nameUsuario}} </td>
                            </ng-container>

                            <ng-container matColumnDef="eliminar">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let student">
                                    <button mat-icon-button (click)="editarAlumno(student)" *ngIf="sesion.usuarioActivo?.admin">
                                        <mat-icon color="accent">editar</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="eliminarAlumno(student)" *ngIf="sesion.usuarioActivo?.admin">
                                        <mat-icon color="primary">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>